<!--<section id="one">-->

<!--    <div class="inner">-->
<div class="row">
    <header class="major">
        <h2>管理</h2>
    </header>
    <p>
    <div class="row align-items-center">
        {% if perms.userlogin.seeManagerAuditAccountPage %}
            {% if tag == "ManagerAuditAccountPage" %}
            <form action="#" method="get">{% csrf_token %}
                <input class="" type="submit" value="審核管理">
            </form>
            {% else %}
            <form action="{% url 'managerAuditAccountPage' %}" method="get">{% csrf_token %}
                <input class="primary" type="submit" value="審核管理">
            </form>
            {% endif %}
        {% endif %}

        {% if perms.userlogin.seeManagerAccountManagerPage %}
            {% if tag == "ManagerAccountManagerPage" %}
            <form action="#" method="get">{% csrf_token %}
                <input class=" " type="submit" value="帳號管理">
            </form>
            {% else %}
            <form action="{% url 'managerAccountManagerPage' %}" method="get">{% csrf_token %}
                <input class="primary" type="submit" value="帳號管理">
            </form>
            {% endif %}
        {% endif %}
        {% if perms.userlogin.seeManagerArticleManagerPage %}
            {% if tag == "ManagerArticleManagerPage" %}
            <form action="#" method="get">{% csrf_token %}
                <input class=" " type="submit" value="文章管理">
            </form>
            {% else %}
            <form action="{% url 'managerArticleManagerPage' %}" method="get">{% csrf_token %}
                <input class="primary" type="submit" value="文章管理">
            </form>
            {% endif %}
        {% endif %}
        {% if perms.userlogin.seeManagerPointPage %}
            {% if tag == "ManagerPointManagerPage" %}
            <form action="#" method="get">{% csrf_token %}
                <input class=" " type="submit" value="點數管理">
            </form>
            {% else %}
            <form action="{% url 'managerPointManagerPage' %}" method="get">{% csrf_token %}
                <input class="primary" type="submit" value="點數管理">
            </form>
            {% endif %}
        {% endif %}

        {% if perms.userlogin.seeManagerStaticManagerPage %}
            {% if tag == "StatisticsManagerPage" %}
            <form action="#" method="get">{% csrf_token %}
                <input class="" type="submit" value="統計分析">
            </form>
            {% else %}
            <form action="{% url 'managerStatisticManagerPage' %}" method="get">{% csrf_token %}
                <input class="primary" type="submit" value="統計分析">
            </form>
            {% endif %}
        {% endif %}
        </p>
    </div>
</div>


<!--    </div>-->

<!--</section>-->
