{% load static %}
<div id="pointOwnColSearch" class="form-row align-items-center">
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <svg id="pointOwnBarChart"></svg>

        </div>
    </div>
</div>

<br>
<table id="pointOwnTable" class="display table table-light table-bordered" style="border:dark;width:100%; white-space: nowrap;">
    <thead class="thead-dark">
        <tr>
            <th>姓名</th>
            <th>上手鑽石</th>
            <th>點數</th>
        </tr>
    </thead>
</table>
<style>
    .modal-content {
        background-color: #2a2f4a;
    }

    .dataTables_filter input {
        background-color: white;
        color: black;
        border-radius: 5px;
    }
</style>

