{% load static %}
<table id="myArticelSummaryTable" class="display table table-light table-bordered" style="border:dark;width:100%; white-space: nowrap;">
    <thead class="thead-dark">
        <tr>
            <th>資料類型</th>
            <th>資料總數</th>
        </tr>
    </thead>
</table>
<style>
    .modal-content {
        background-color: #2a2f4a;
    }

    .dataTables_filter input {
        background-color: white;
        border-radius: 5px;
    }
</style>

<script src="{% static 'assets/js/managerStatistic.js' %}"></script>
