{% load static %}

<div class="container">
    <div class="row">
        <div class="col">
            <svg id="articleBarChart"></svg>

        </div>
        <div class="col">
            <svg id="articlePieChart"></svg>

        </div>
    </div>
</div>
<table id="myArticelSummaryTable" class="display table table-light table-bordered" style="border:dark;width:100%; white-space: nowrap;">
    <thead class="thead-dark">
        <tr>
            <th>資料類型</th>
            <th>資料總數</th>
        </tr>
    </thead>
</table>
<style>
    .modal-content {
        background-color: #2a2f4a;
    }

    .dataTables_filter input {
        background-color: white;
        color: black;
        border-radius: 5px;
    }
</style>

