<header id="header">
    {% load static %}
    <link href="{%static 'favicon.ico' %}" rel="shortcut icon">
    <a href="{% url 'home' %}" class="logo"><strong>ChainYen</strong> <span>System</span></a>
    {% if user.is_authenticated %}
    <nav>
        <a href="#menu">Menu</a>
    </nav>
    {% endif %}
</header>

<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
<noscript>
    <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
</noscript>

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/cyMain.js' %}"></script>
<script src="{% static 'assets/js/viewPageAjax.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js//bootbox/bootbox.min.js' %}"></script>
<script src="{% static 'assets/js//bootbox/bootbox.locales.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/datatables.min.css' %}" />
<script type="text/javascript" src="{% static 'assets/js/datatables.min.js' %}"></script>