<nav id="menu">
    <ul class="links">
        <li><a href="{% url 'home' %}">首頁</a></li>
        <li><a href="{% url 'NutriliteSearchPage' 'bodyfit' %}">營養</a></li>
        <li><a href="generic.html">美容</a></li>
        <li><a href="elements.html">科技</a></li>
        <li><a href="elements.html">金鍋</a></li>
        <li><a href="elements.html">其他</a></li>
        <li><a href="elements.html">演講廳</a></li>
        <li><a href="elements.html">總部會議/活動</a></li>
    </ul>
    <ul class="actions stacked">
        <li><a href="#" class="button primary fit">個人資料</a></li>
        <li><a href="{% url 'logout'%}" class="button fit">登出</a></li>
    </ul>
</nav>

