<nav id="menu">
    <ul class="links">
        <li><a href="{% url 'home' %}">首頁</a></li>
        <li><a href="{% url 'NutriliteSearchPage' '營養' '基礎營養' %}">營養</a></li>
        <li><a href="{% url 'NutriliteSearchPage' '美容' '基礎保養' %}">美容</a></li>
        <li><a href="{% url 'NutriliteSearchPage' '科技' '空氣清淨機' %}">科技</a></li>
        <li><a href="{% url 'NutriliteSearchPage' '金鍋' '金鍋' %}">金鍋</a></li>
        <li><a href="{% url 'NutriliteSearchPage' '其他' 'Amway Home' %}">其他</a></li>
        <li><a href="{% url 'NutriliteSearchPage' '演講廳' '成功領導人' %}">演講廳</a></li>
        <li><a href="{% url 'NutriliteSearchPage' '總部會議' '教室課程' %}">總部會議/活動</a></li>
        <li><a href="{% url 'recommendIndexHome' %}">推薦索引</a></li>
        {% if perms.userlogin.seeCourseReplay %}
            <li><a href="{% url 'courseReplay_index' %}">課程重播</a></li>
        {% endif %}

    </ul>
    <ul class="actions stacked">
        <li><a href="{% url 'personalInfoHomePage' '全部' %}" class="button primary fit">個人資料</a></li>
        {% if perms.userlogin.seeManagerMenuButton %}
            {% if perms.userlogin.seeManagerAccountManagerPage %}
                <li><a href="{% url 'managerAccountManagerPage' %}" class="button primary fit">管理</a></li>
            {% elif perms.userlogin.seeManagerAuditAccountPage %}
                <li><a href="{% url 'managerAuditAccountPage' %}" class="button primary fit">管理</a></li>
            {% elif perms.userlogin.seeManagerPointPage %}
                <li><a href="{% url 'managerPointManagerPage' %}" class="button primary fit">管理</a></li>
            {% elif perms.userlogin.seeManagerArticlePage %}
                <li><a href="{% url 'managerArticleManagerPage' %}" class="button primary fit">管理</a></li>
            {% elif perms.userlogin.seeManagerPointPage %}
                <li><a href="{% url 'managerPointManagerPage' %}" class="button primary fit">管理</a></li>
            {% elif perms.userlogin.seeManagerStatisticPage %}
                <li><a href="{% url 'managerStatisticManagerPage' %}" class="button primary fit">管理</a></li>
            {% endif %}
        {% endif %}
        <li><a href="{% url 'logout'%}" style="color:white" class="button fit">登出</a></li>
    </ul>
</nav>

