<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>ChainYen System</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link href="{%static 'favicon.ico' %}" rel="shortcut icon">
</head>

<body class="is-preload" style="background-size: Cover;background:url('{%static 'images/login底圖.png' %}');">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		{% include 'baseHeader.html' %}


		<!-- Banner -->
		<!--				<div style="background-image:url('{%static 'images/cyBackgroundImage.jpg' %}');">-->
		<section id="" class="major" style="-moz-align-items: center;
					-webkit-align-items: center;
					-ms-align-items: center;
					align-items: center;
					display: -moz-flex;
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					padding: 6em 0 2em 0 ;
					background-attachment: fixed;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					border-bottom: 0 !important;
					cursor: default;
					height: 60vh;
					margin-bottom: -3.25em;
					max-height: 32em;
					min-height: 22em;
					position: relative;
					top: 0em;">
			<div class="inner">
				<header class="major">

					<h2 style="color:black"><br>群雁資訊檢索系統</h2>
				</header>
				<div class="content">
					<form id="loginForm" action="" method="post">{% csrf_token %}
						<label style="color:black" for="username">會員編號:</label>
						<div class="row">
							<div class=" col-sm-4">
								<input required="required" style="color:black;background-color:white;width:auto"
									type="text" name="username" value="" id="username"> <br />
							</div>
						</div>
						<label style="color:black" for="username">身分證後四碼:</label>
						<div class="row">
							<div class=" col-sm-4">
								<input required="required" style="color:black;background-color:white;width:auto"
									type="text" name="idnumber" value="" id="idnumber"> <br />
							</div>
						</div>
						<label style="color:black" for="password">用戶密碼:</label>
						<div class="row">
							<div class=" col-sm-4">
								<input required="required" style="color:black;background-color:white;width:auto"
									type="password" name="password" value="" id="password"> <br />
							</div>
						</div>
						{% if pwderror %}
						<p style="color: red;">輸入的資料有誤</p>
						{% endif %}
						{% if pointNotEnought %}
						<p style="color: red;">點數不足</p>
						{% endif %}

						<input style="color:black;box-shadow: inset 0 0 0 2px #000000;" type="button" value="登入"
							class="button" onclick="confirmSubmit()" />

					</form>

				</div>
                                </form>
								<a style="color:black" href="{% url 'forgetPasswordKeyinNumber' %}">我忘記密碼了</a>
								<p></p>
								<a style="color:black" data-toggle="modal"
									data-target="#QA"
									>
									常見問題
								</a>
							</div>

		</section>
	</div>
	<!-- Modal 常見問題-->
    <div class="modal fade" id="QA" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="color: black" class="modal-title" id="staticBackdropLabel">常見問題</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color:black;">
					<p>****無法登入****</p>
				<p>1.點數不足:代表目前點數不夠登入</p>
				<p>2.資料錯誤:請再次確認編號、後四碼、密碼是否填寫正確</p>
				<p>****登入注意事項****</p>
				<p>1.登入將扣點數一點(2 小時內沒有兌換或是觀看動作就登出，如果有兌換或是觀看的動作就延長 1 小時)</p>
				<p>2.不要使用無痕與line連結開啟，以免關閉瀏覽器後，會再要求登入扣點(手機點開line連結後用預設瀏覽器開起)</p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>

                </div>
            </div>
        </div>
    </div>
	<!-- Scripts -->
	<script>
		function confirmSubmit() {
			var $form = $('form')[0];

			// Check if valid using HTML5 checkValidity() builtin function
			if ($form.checkValidity()) {
				console.log('valid');
				if (confirm("登入將扣一點，您確定登入嗎?")) {
					$form.submit();
				}
			}
			return false;
		}
	</script>

</body>

</html>