<!--<form method="post" action="{% url 'keywordSearchPage' %}">{% csrf_token %}-->
<!--    <div class="gtr-uniform">-->
<!--        <div class="col-4 col-12-small">-->
<!--            <input type="text" name="keywords" id="keywords" value="{{keywords}}" placeholder="關鍵字" />-->
<!--        </div>-->

<!--        &lt;!&ndash; Break &ndash;&gt;-->
<!--        <div class="col-4 col-12-small">-->
<!--            <select name="timelim" id="timelim">-->
<!--                <option value="1">一年內資料</option>-->
<!--                <option value="2">兩年內資料</option>-->
<!--                <option value="3">三年內資料</option>-->
<!--                <option value="5">五年內資料</option>-->
<!--                <option value="100">不限</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        &lt;!&ndash; Break &ndash;&gt;-->
<!--        <div class="col-4 col-12-small">-->
<!--            <ul class="actions">-->
<!--                <li><input type="submit" value="搜尋" class="primary" /></li>-->
<!--            </ul>-->
<!--        </div>-->

<!--    </div>-->
<!--</form>-->

<form method="post" action="{% url 'keywordSearchPage' %}">{% csrf_token %}

    <div class="" >
        <ul class="searchBar-inline" style="padding-left:1px;padding-top:2px; margin-bottom: -25px">
            <li style="width: 40%;">
                <input  type="text" name="keywords" id="keywords" value="{{keywords}}" placeholder="關鍵字" />
            </li>
            <li style="width: 30%;">
                <select name="timelim" id="timelim" >
                    <option value="1">一年內資料</option>
                    <option value="2">兩年內資料</option>
                    <option value="3">三年內資料</option>
                    <option value="5">五年內資料</option>
                    <option value="100">不限</option>
                </select>
            </li>
            <li style="width: 20%;">
                <input type="submit" value="搜尋" class="primary" />
            </li>
        </ul>
    </div>
</form>