

<form method="get" action="{% url 'keywordSearchPage' %}">{% csrf_token %}

    <div class="" >
        <ul class="searchBar-inline" style="padding-left:1px;padding-top:2px; margin-bottom: -25px">
            <li style="width: 40%;">
                <input  placeholder="關鍵字" type="text" class="keywords" name="keywords" id="keywords" value="{{keywords}}" placeholder="" />
            </li>
            <li style="width: 30%;">
                <select name="timelim" id="timelim" >
                    <option {% if timelim == 1 %} selected="selected" {%endif%} value="1">一年內資料</option>
                    <option {% if timelim == 2 %} selected="selected" {%endif%} value="2">兩年內資料</option>
                    <option {% if timelim == 3 %} selected="selected" {%endif%} value="3">三年內資料</option>
                    <option {% if timelim == 5 %} selected="selected" {%endif%} value="5">五年內資料</option>
                    <option {% if timelim == 100 %} selected="selected" {%endif%} value="100">不限</option>
                </select>
            </li>
            <li style="width: 20%;">
                <input type="submit" value="搜尋" class="primary" />
            </li>
        </ul>
    </div>
</form>