<form method="post" action="#">
    <div class="row gtr-uniform">
        <div class="col-4 col-12-small">
            <input type="text" name="demo-name" id="demo-name" value="" placeholder="關鍵字" />
        </div>

        <!-- Break -->
        <div class="col-4 col-12-small">
            <select name="demo-category" id="demo-category">
                <option value="0">一年內資料</option>
                <option value="1">兩年內資料</option>
                <option value="2">三年內資料</option>
                <option value="3">五年內資料</option>
                <option value="4">不限</option>
            </select>
        </div>
        <!-- Break -->
        <div class="col-4 col-12-small">
            <ul class="actions">
                <li><input type="submit" value="搜尋" class="primary" /></li>
            </ul>
        </div>

    </div>
</form>