<div class="row">
    <div class="text-dark">您目前的點數: <span class="selfPoint" id="{{userAccountInfo.username}}_point">{{userAccountInfo.useraccountchainyeninfo_set.first.point}}</span></div>
</div>
<table id="myTransferTable" class="display table table-light table-bordered" style="border:dark;width:100%; white-space: nowrap;">
    <thead class="thead-dark">
        <tr>
            <th>直銷商</th>
            <th>直銷編號</th>
            <th>目前點數</th>
            <th>轉讓 1 點</th>
            <th>轉讓 10 點</th>
            <th>自訂轉讓點數</th>
        </tr>
    </thead>
</table>

<style>
    .modal-content {
        background-color: #2a2f4a;
    }

    .dataTables_filter input {
        background-color: white;
        border-radius: 5px;
    }
    label{
        color:black;
    }

    .dataTables_info{
        color:black;
    }

    th, td {border-width:10px}
</style>

  