<div class="row">
    <header class="major">
        <h2 style="color:black;">個人資料</h2>
    </header>
    <div class="row align-items-center">
        <form action="{% url 'personalInfoHomePage' selectTag='全部' %}" method="post">{% csrf_token %}
            <input class="primary small " {% if selectPage == '瀏覽已兌換資料' %} style="background-color:#c2c9d1" {% endif %} type="submit" value="瀏覽已兌換資料">
        </form>
        <form action="{% url 'changePasswordPage' %}" method="post">{% csrf_token %}
            <input class="primary small " type="submit" value="修改個人密碼">
        </form>
        <form action="{% url 'personalInfoPointPage' %}" method="get">{% csrf_token %}
            <input class="primary small " {% if selectPage == '管理個人點數' %} style="background-color:#c2c9d1" {% endif %} type="submit" value="管理個人點數">
        </form>
    </div>
</div>
