<table id="myHistoryTable" class="display table table-light table-bordered" style="border:dark;width:100%; white-space: nowrap;">
    <thead class="thead-dark">
        <tr>
            <th>變更者</th>
            <th>修改日期</th>
            <th>增/扣/轉讓</th>
            <th>原因</th>
            <th>剩餘點數</th>
        </tr>
    </thead>
</table>
<style>
    .dataTables_filter input {
        background-color: white;
        border-radius: 5px;
    }
    label{
        color:black;
    }

    .dataTables_info{
        color:black;
    }

    th, td {border-width:10px}
</style>