<!--<section id="one" style="background-color:steelblue;">-->

    <div class="inner"  >
        <header class="major">
            <h2>美容</h2>
        </header>
        <ul class="list-inline">
            <li >
                {% if selectTag == "基礎保養" %}
                    <a class="classActivate" href="#" class="primary" >基礎保養</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '美容' '基礎保養' %}">基礎保養</a>
                {% endif %}
            </li>
            <li>
                {% if selectTag == "整體造型" %}
                    <a class="classActivate" href="#" class="primary" >整體造型</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '美容' '整體造型' %}" >整體造型</a>
                {% endif %}
            </li>

            <li>

                {% if selectTag == "醫美相關" %}
                    <a class="classActivate" href="#" class="primary" >醫美相關</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '美容' '醫美相關' %}" >醫美相關</a>
                {% endif %}

            </li>

            <li>
                {% if selectTag == "迷思破解" %}
                    <a class="classActivate" href="#" class="primary">迷思破解</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '美容' '迷思破解' %}">迷思破解</a>
                {% endif %}

            </li>

            <li >
                {% if selectTag == "其他" %}
                    <a class="classActivate" href="#" class="primary" >其他</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '美容' '其他' %}">其他</a>
                {% endif %}

            </li>
        </ul>
    </div>

<!--</section>-->