<!--<section id="one" style="background-color:steelblue;">-->

    <div class="inner"  >
        <header class="major">
            <h2>演講廳</h2>
        </header>
        <ul class="list-inline">
            <li >
                {% if selectTag == "成功領導人" %}
                    <a class="classActivate" href="#" class="primary" >成功領導人</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '演講廳' '成功領導人' %}">成功領導人</a>
                {% endif %}
            </li>
            <li>
                {% if selectTag == "公司創辦人" %}
                    <a class="classActivate" href="#" class="primary">公司創辦人</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '演講廳' '公司創辦人' %}" >公司創辦人</a>
                {% endif %}
            </li>

            <li>

                {% if selectTag == "名人講堂" %}
                    <a class="classActivate" href="#" class="primary" >名人講堂</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '演講廳' '名人講堂' %}" >名人講堂</a>
                {% endif %}

            </li>

            <li>
                {% if selectTag == "公司介紹" %}
                    <a class="classActivate" href="#" class="primary" >公司介紹</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '演講廳' '公司介紹' %}">公司介紹</a>
                {% endif %}

            </li>
            <li>
                {% if selectTag == "培訓資料" %}
                    <a class="classActivate" href="#" class="primary" >培訓資料</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '演講廳' '培訓資料' %}">培訓資料</a>
                {% endif %}

            </li>
            <li >
                {% if selectTag == "其他" %}
                    <a class="classActivate" href="#" class="primary">其他</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '演講廳' '其他' %}">其他</a>
                {% endif %}

            </li>
        </ul>
    </div>

<!--</section>-->