<!--<section id="one" style="background-color:steelblue;">-->

    <div class="inner"  >
        <header class="major">
            <h2>總部會議/活動</h2>
        </header>
        <ul class="list-inline">
            <li >
                {% if selectTag == "教室課程" %}
                    <a class="classActivate" href="#" class="primary" >教室課程</a>
                {% else %}
                    <a  class="classNoActivate" href="{% url 'NutriliteSearchPage' '總部會議' '教室課程' %}">教室課程</a>
                {% endif %}
            </li>
            <li>
                {% if selectTag == "基礎會議" %}
                    <a class="classActivate" href="#" class="primary">基礎會議</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '總部會議' '基礎會議' %}" >基礎會議</a>
                {% endif %}
            </li>

            <li>

                {% if selectTag == "菁英會議" %}
                    <a class="classActivate" href="#" class="primary" >菁英會議</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '總部會議' '菁英會議' %}" >菁英會議</a>
                {% endif %}

            </li>

            <li>
                {% if selectTag == "老師有約" %}
                    <a class="classActivate" href="#" class="primary" >老師有約</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '總部會議' '老師有約' %}">老師有約</a>
                {% endif %}

            </li>
            <li>
                {% if selectTag == "每月之星" %}
                    <a class="classActivate" href="#" class="primary" >每月之星</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '總部會議' '每月之星' %}">每月之星</a>
                {% endif %}

            </li>
            <li >
                {% if selectTag == "人物故事" %}
                    <a class="classActivate" href="#" class="primary" >人物故事</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '總部會議' '人物故事' %}">人物故事</a>
                {% endif %}

            </li>
        </ul>
    </div>

<!--</section>-->