<!--<section id="one" style="background-color:steelblue;">-->

    <div class="inner"  >
        <header class="major">
            <h2>金鍋</h2>
        </header>
        <ul class="list-inline">
            <li >
                {% if selectTag == "金鍋" %}
                    <a class="classActivate"  href="#" class="primary" >金鍋</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '金鍋' '金鍋' %}">金鍋</a>
                {% endif %}
            </li>
            <li>
                {% if selectTag == "不沾鍋" %}
                    <a class="classActivate"  href="#" class="primary" >不沾鍋</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '金鍋' '不沾鍋' %}" >不沾鍋</a>
                {% endif %}
            </li>

            <li>

                {% if selectTag == "食譜" %}
                    <a class="classActivate"  href="#" class="primary">食譜</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '金鍋' '食譜' %}" >食譜</a>
                {% endif %}

            </li>
            <li >
                {% if selectTag == "其他" %}
                    <a class="classActivate"  href="#" class="primary" >其他</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '金鍋' '其他' %}">其他</a>
                {% endif %}

            </li>
        </ul>
    </div>

<!--</section>-->