<!--<section id="one" style="background-color:steelblue;">-->

    <div class="inner"  >
        <header class="major">
            <h2>科技</h2>
        </header>
        <ul class="list-inline">
            <li >
                {% if selectTag == "空氣清淨機" %}
                    <a class="classActivate"  href="#" class="primary" >空氣清淨機</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '科技' '空氣清淨機' %}">空氣清淨機</a>
                {% endif %}
            </li>
            <li>
                {% if selectTag == "淨水器" %}
                    <a class="classActivate"  href="#" class="primary" 淨水器</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '科技' '淨水器' %}" >淨水器</a>
                {% endif %}
            </li>

            <li >
                {% if selectTag == "其他" %}
                    <a class="classActivate" href="#" class="primary" >其他</a>
                {% else %}
                    <a class="classNoActivate" href="{% url 'NutriliteSearchPage' '科技' '其他' %}">其他</a>
                {% endif %}

            </li>
        </ul>
    </div>

<!--</section>-->